---
apiVersion: 1

datasources:
  - name: Reactory Jaeger
    type: jaeger
    url: $REACTORY_JAEGER_URL
    access: proxy
    isDefault: false
    editable: false

  - name: Reactory Postgres
    type: postgres
    url: $REACTORY_POSTGRES_URL
    user: reactory
    secureJsonData:
      password: reactory
    jsonData:
      database: reactory

  - name: Reactory MongoDB
    type: grafana-mongodb-datasource
    access: proxy
    basicAuth: false
    editable: true
    enabled: true
    isDefault: true
    jsonData:
      connection: $REACTORY_MONGODB
      user: $REACTORY_MONGO_USERNAME
    secureJsonData:
      password: $REACTORY_MONGO_PASSWORD

  - name: Reactory Redis
    type: redis
    url: $REACTORY_REDIS_URL
    access: proxy
    isDefault: false
    editable: false
    jsonData:
      password: $REACTORY_REDIS_PASSWORD

  - name: Reactory Prometheus
    type: prometheus
    access: proxy
    url: $REACTORY_PROMETHEUS_URL
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 2.44.0
      cacheLevel: 'High'
      disableRecordingRules: false
      incrementalQueryOverlapWindow: 10m
